# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
venv
static/assets
static/*.html
static/*.ico
*.pem
conversations.json
*.pyc
output/response_1.txt
output/*.txt
test.json
output/*.html
data/prompts/dorothy_junwin_conv.json
data/prompts/dorothy_test_conv.json
data/prompts/lucy_junwin_conv.json
data/prompts/maria_junwin_conv.json
data/prompts/pedro_junwin_conv.json
data/prompts/pedro_test_conv.json
data/prompts/lucy_test_conv.json
static/output/junwin
test_data
static/output

data/completions/dorothy_junwin_conv.json
data/completions/dorothy_test_conv.json
data/completions/lucy_test_conv.json
data/completions/maria_junwin_conv.json
data/completions/pedro_junwin_conv.json
data/completions/pedro_test_conv.json
data/completions/maria_test_conv.json
data/completions/lucy_junwin_conv.json
data/completions/colin_test_conv.json
data/completions/lucy_cli_conv.json
static/data/code_sandbox/
your path/hello_world.py
data/completions/lucy_cli_conv.json
package-lock.json
source/bin/pip
source

data/completions/glinda_junwin_conv.json
data/context/junwin/dorothy_glinda.dat
data/completions/doug_junwin_conv.json
