# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
venv
static/assets
static/*.html
static/*.ico
*.pem
conversations.json
*.pyc
output/response_1.txt
output/*.txt
test.json
output/*.html
data/prompts/dorothy_junwin_conv.json
data/prompts/dorothy_test_conv.json
data/prompts/lucy_junwin_conv.json
data/prompts/maria_junwin_conv.json
data/prompts/pedro_junwin_conv.json
data/prompts/pedro_test_conv.json
data/prompts/lucy_test_conv.json
static/output/junwin
