aiohappyeyeballs==2.6.1
blinker==1.6.2
certifi==2022.12.7
cloudpathlib==0.23.0
cymem==2.0.13
h11==0.16.0
Jinja2==3.1.2
joblib==1.5.2
numpy==2.3.5
pytest==9.0.2
scikit-learn==1.7.2
spacy==3.8.11
spacy-loggers==1.0.5
typing-inspection==0.4.2
urllib3==1.26.15
weasel==0.4.3
Werkzeug==2.3.0
PyYAML==6.0.3
flask
flask-swagger
flask-cors
flask-swagger-ui
injector
snowballstemmer
nltk
openai
